.App {
  text-align: center;
}

td {
  font-size: 16px;
}

th {
  font-size: 18px;
}

th, td{
  padding: 15px;
}

html, body {
  height: 100%;
  margin: 0;
}

/*table {*/
/*  overflow-x: auto;*/
/*  white-space: nowrap;*/
/*}*/

table {
  /*overflow: scroll; !* Scrollbar are always visible *!*/
  /*overflow: auto;   !* Scrollbar is displayed as it's needed *!*/
  overflow: scroll;
  /*display: block;*/
}

body {
  width: 100%;
  height: 100%;
  background-color: #282c34;
}

.dropdown-menu {
  max-height: 500px;
  overflow-y: scroll;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
